.signInForm {
  margin: 160px auto;
  width: 350px;
  height: 270px;
  background: white;
  box-shadow: 10px 10px 5px -7px rgba(0,0,0,.08);
  border: 1px solid #efefef;
  border-radius: 4px;
}

.signInForm__header {
  text-align: left;
  padding: 10px 36px;
  border-bottom: 1px solid #efefef;
  color: #5F5F5F;
}

.signInForm__main {
  padding: 36px 36px;
}

#components-form-demo-normal-login .login-form {
  max-width: 300px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.signInButton {
  padding: 6px 12px;
}
