.navigation {
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
}

.mainNav {
  display: inline-block;
}

.extraNav {
  display: inline-block;
}
